<span class="Titulo">Ver clientes</span>
<div class="Lista">
	<div class="Item Cabecera">
		<span>Nombre</span>
		<span>Apellido</span>
		<span>Direccion</span>
	</div>
	<div class="Item" *ngFor="let cliente of clientes">
		<span>{{ cliente.nombre }}</span>
		<span>{{ cliente.apellido }}</span>
		<span>{{ cliente.direccion }}</span>
	</div>
</div>