.Lista {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.Item {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.Cabecera {
	font-size: 1.5rem;
	margin-bottom: 2%;
}