<span class="Titulo">Agregar Cliente</span>
<div class="formNuevoCliente">
	<input [(ngModel)]="nombre" type="text" placeholder="Nombre">
	<input [(ngModel)]="apellido" type="text" placeholder="Apellido">
	<input [(ngModel)]="direccion" type="text" placeholder="Direccion">
	<button (click)="enviar()">Enviar</button>
</div>