/* You can add global styles to this file, and also import other style files */
html {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
}

app-root {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

app-ver-clientes {
	width: 40%;
	display: flex;
	flex-direction: column;
}

app-agregar-cliente {
	width: 40%;
	display: flex;
	flex-direction: column;
}

.Titulo {
	font-size: 1.7rem;
	text-align: center;
	margin-bottom: 2%;
}